<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row mt-3">
    <div class="col-6 offset-3">
        <h1>Signup wonderlust</h1>
      <form action="/signup" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input
            required
            type="text"
            name="username"
            id="username"
            
            class="form-control"
          />
          <div class="valied-feedback"></div>
          <div class="invalid-feedback">add username</div>
        </div>
        <div class="mb-3">
          <label for="gmail" class="form-label">Email</label>
          <input
            required
            type="email"
            name="email"
            id="email"
            
            class="form-control"
          />
          <div class="valied-feedback"></div>
          <div class="invalid-feedback">add gmail</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">password</label>
          <input
            required
            type="password"
            name="password"
            id="password"
            
            class="form-control"
          />
          <div class="valied-feedback"></div>
          <div class="invalid-feedback">add password</div>
        </div>
        <button class="btn btn-success">submit</button>
      </form>
    </div>
  </div>
</body>
